@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Flower Shop!</h1>
    <p>Our online flower shop brings the beauty and freshness of a garden right to your doorstep. We offer a wide variety of flowers and bouquets for your every occasion. Explore our stunning collections and let the magic of flowers fill your life with joy and beauty. </p>

    <p>Whether you're celebrating a special moment or just want to bring a touch of nature into your home, our carefully selected flowers are sure to delight. Each bouquet is expertly crafted by our skilled florists, ensuring you receive only the freshest flowers.</p>

    <p>We are committed to providing exceptional customer service and we're here to help you every step of the way, from selecting the perfect arrangement to arranging delivery. Thank you for choosing us, and we look forward to serving you!</p>
</div>