@model IEnumerable<Category>
<ul class="list-group">
    <li class="list-group-item all-products-list" style="background-color:#198754;">
        <a class="nav-link text-white" asp-controller="Products" asp-action="Index" asp-route-categorySlug="">
            All Products
        </a>
    </li>
    @foreach (var item in Model)
    {
        <li class="list-group-item ">
            <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categorySlug="@item.Name">
               @item.Name
            </a>
        </li>
    }
    @{
        @if(User.Identity?.IsAuthenticated ?? false)
        {
            @if (User.IsInRole("Admin")) 
            {
                <li class="list-group-item order-item">
                    <a class="nav-link text-white" asp-controller="Orders" asp-action="Index" asp-route-categorySlug="">Orders</a>
                </li>
            }
            else
            {
                <li class="list-group-item order-item">
                    <a class="nav-link text-white" asp-controller="Orders" asp-action="Index" asp-route-categorySlug="">My Orders</a>
                </li>
            }
        }
    }
</ul>